<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDNeOwalx1p0VG7MHQH16ZBvtQXhxnDGvA</string>
	<key>GCM_SENDER_ID</key>
	<string>967693756890</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emad.beltaje.getxskeleton.getxSkeleton</string>
	<key>PROJECT_ID</key>
	<string>grocery-app-919e8</string>
	<key>STORAGE_BUCKET</key>
	<string>grocery-app-919e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:967693756890:ios:6296e8f84f9e22ecaf38e3</string>
</dict>
</plist>